$font-size-base:              0.75rem;

// Color system
$white                : #fff;

$old-lace             : #FDF3E6;
$monte-carlo          : #8fccbc;
$shark                : #1a1d25;
$lynch                : #69799d;

// Navbar
$navbar-bg            : $white;
